main {
  grid-area: main;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content_header h1 {
  text-indent: 20px;
  font-weight: 500;
  font-size: 30px;
}

/* reserved code if something wrong happen */
/* .content_image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
} */

.content_image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  padding: 0 10px 0 10px;
}

.content_image img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

article {
  padding: 20px 10px 0 10px;
}

article p {
  font-weight: 300;
}