* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

img {
  width: 100%;
  aspect-ratio: 1;
}

body {
  display: grid;
  grid-template-areas: 'nav main footer';
  grid-template-columns: 2fr 8fr 3fr;
  transition: .2s;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #6649b8;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  height: 100%;
  left: 0;
  width: 15.4%;
  border-right: 1px solid rgb(193, 193, 193);
  box-shadow: 1px gray;
  background: white;
  z-index: 999;
}



/* navigation */
.logo_container {
  width: 100px;
  aspect-ratio: 1;
  align-self: center;
  margin-bottom: 50px;
}


.navigation_container {
  display: flex;
  flex-direction: column;
}

.btn a {
  display: flex;
  flex-direction: row;
  padding: 10px 0px 10px 10px;
  text-decoration: none;
  color: black;
  height: 100%;
  align-items: center;
  font-weight: 700;
  transition: .3s;
}


.btn i {
  padding: 0px 10px 0px 0px;
}

.btn span:hover,
.btn i:hover {
  background-color: transparent;
}

.btn :hover {
  background-color: lightblue;
  border-radius: 0px 10px 10px 0;
}

.fa-solid, .social_container .bx {
  font-size: 20px;
}
